.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: chocolate;
}

i {
  color: black !important;
}
.login-form {
  width: 40%;
  background-image: image(
    "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcREK5djTSCG-OkY6LKcDOhEjAWnvp2fLE-Cxw&usqp=CAU"
  );
}

.hidden {
  display: none !important;
}
